@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    color: aliceblue;
}

html,
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    bottom: 0px;
    top: 0px;
}

body {
    background: #090913;
    overflow: hidden;
}

.breathe,
button {
    z-index: 1000;
    color: aliceblue;
}

.breathe {
    font-size: 3rem;
}

button {
    background: transparent;
    border: 1px solid aliceblue;
    border-radius: 10px;
    font-size: 1.5rem;
}

.choice {
    height: 100px;
    width: 250px;
    -webkit-animation: fadein 5s;
    -moz-animation: fadein 5s;
}

.start {
    height: 50px;
    width: 150px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
}

button:hover {
    background-color: rgba(240, 248, 255, 0.014);
    border: 1px solid rgba(240, 248, 255, 0.158);
    color: rgba(240, 248, 255, 0.678);
}

.ripple-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: rgb(26, 42, 53);
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #0f1f29;
}

.small {
    width: 100px;
    height: 100px;
    /* left: -100px;
    bottom: -100px; */
}

.medium {
    width: 200px;
    height: 200px;
    /* left: -200px;
    bottom: -200px; */
}

.large {
    width: 400px;
    height: 400px;
    /* left: -300px;
    bottom: -300px; */
}

.xlarge {
    width: 600px;
    height: 600px;
    /* left: -400px;
    bottom: -400px; */
}

.xxlarge {
    width: 800px;
    height: 800px;
    /* left: -500px;
    bottom: -500px; */
}

.shade1 {
    opacity: 0.2;
}
.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}

.stage2-container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.oracle-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oracle {
    z-index: 10;
    position: absolute;
    font-size: 2.5rem;
    -webkit-animation: animate 5s;
    -moz-animation: animate 5s;
}

@keyframes animate {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.question-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.prompt {
    font-size: 2rem;
}

.question-btns {
    display: flex;
    width: 620px;
    justify-content: space-evenly;
}

.question-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ask-a-question {
    margin: 50px;
}

.textarea {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: #0f1f29;
    text-transform: none;
}

.ask-btn {
    margin: 50px;
}
